<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
    <div class="navigation">
        {% for item in site.navigation %}
            <a href="{{ item.url | relative_url }}" {% if page.url == item.url %}class="active"{% endif %}>
                {{ item.title }}
            </a>
        {% endfor %}
    </div>
    
    <div class="main-content">
        {{ content }}
    </div>

    <footer class="site-footer">
        <span class="site-footer-owner">Mantenido por <a href="https://github.com/wigsdev">wigsdev</a>.</span>
        <span class="site-footer-credits">Esta página usa el tema <a href="https://github.com/pages-themes/cayman">Cayman</a>.</span>
    </footer>
</body>
</html>